/* initialisation page */
html,
body {
    width: 100%;
    margin: 0;
}

body * {
    box-sizing: border-box;
}
/* fin initialisation page */

/* fonts */
.saumon{
    color: #df6951;
}

.majuscule{
    text-transform: uppercase;
}

.gras{
    font-weight: bold;
}

#section1 h3, #section4 article[class*="lien"] figcaption p[class="fgras"]{
    font-family: poppins-bold;
}

#section2 .titres h4, #section2 .nouveautes article figure figcaption p,
#section2 .nouveautes2 article figure figcaption p[class="ingredient"], #section4 .commande h4, #section5 .titres h4{
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
}

#section2 .titres h2, #section4 .commande h4, #section5 .titres h2{
    font-family: volkhov-bold;
    color: rgb(20, 24, 62);
}

.formulaire-g h4, .champs-contact label, .champs-contact-ligne label{
    font-family: poppins-regular;
    color: black;
}

.champs-contact input::placeholder, .champs-contact-ligne input::placeholder{
    font-family: poppins-regular;
    color: rgb(152, 152, 152, 0.5);
}

#section1 h5, #section4 article[class*="lien"] figcaption p, .formulaire-g h5{
    font-family: poppins-regular;
}

#section1 h1{
    font-family: volkhov-bold;
}

#section2 .nouveautes article figure figcaption p[class="gras"]{
    font-family: opensans-regular;
}
/* fin fonts */

/* boutons */
.bouton-carte{
    background-color: orange;
    height: 45px;
    width: 180px;
    border: 2px solid orange;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

.bouton-carte a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}

.bouton-carte:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.bouton-form{
    background-color: #007aff;
    color : white;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.bouton-form:hover{
    background-color: #1485ff;
    transform: scale(1.05);
}

.bouton-form img{
    float: left;
    margin: 5px 0 0 15px;
}

.bouton-google:hover, .bouton-apple:hover{
    transform: scale(1.03);
}

.bouton-google, .bouton-apple{
    background-color: #000;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    color: #f3f3f3;
    font-family: Arial;
    font-size: 10px;
    margin: 0 0 0 0;
    position: relative;
}

.bouton-apple{
    margin-left: 5px;
}

.bouton-google a, .bouton-apple a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

.bouton-google img, .bouton-apple img{
    margin: -2px 10px 0 0;
    position: relative;
}
/* fin boutons */

/* Section - global */
section {
    position: relative;
    padding: 100px 8% 100px 8%;
    margin: 0;
}
/* fin Section - global */

/* header */
header{
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.logo{
    display:inline-block;
    margin-left: 8%;
    height: 100%;
    white-space: nowrap;
    width: 70%;
}

.logo #img-logo-jadoo{
    height: 35px;
    margin-right: 20px;
}

.logo #img-jadoo{
    height: 35px;
}

.logo:hover img:first-child{
    animation: logo-animation 0.5s ease-in;
}

header nav{
    margin: 0 8% 0 0;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

.menu-burger, #toggle{
    display: none;
}

header nav .nav-burger a{
    text-decoration: none;
    font-size: 17px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}

header nav .nav-burger a:hover{
    text-decoration: underline;
}
/* fin header */

/* footer */
.footer1{
    background-color: #f3f3f3;
    padding: 70px 8% 20px;
}

.conteneur-pied{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

#logos{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.logo-pied{
    display: block;
    height: auto;
}

.logo-pied:hover img:first-child{
    animation: logo-animation 0.5s ease-in;
}

.logo-pied img[id="nom-site"]{
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.logo-pied img[id="logo-site"]{
    height: 50px;
}

#logos p{
    font-size: 18px;
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
}

.milieu-footer{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.footer1 #resto{
    display: inline-block;
    vertical-align: top;
}

.footer1 #RDV{
    display: inline-block;
    vertical-align: top;
}

.footer1 #resto:not(:last-child), .footer1 #RDV:not(:last-child){
    margin: 0 50px 20px 0;
}

.footer1 #resto p:not(:last-child), .footer1 #RDV p:not(:last-child){
    margin: 0 0 10px;
}

.footer1 #resto p, .footer1 #RDV p{
    margin: 0;
}

.footer1 #resto p, .footer1 #RDV p{
    font-family: poppins-bold;
    font-size: 21px;
    line-height: 31px;
    color: black;
}

.footer1 #resto a, .footer1 #RDV a{
    font-size: 18px;
    line-height: 27px;
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
    text-decoration: none;
}

.footer1 #App{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.footer1 #App p{
    font-size: 18px;
    line-height: 27px;
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
    margin-top: 25px;
}

.footer1 #App .img-logo-UE{
    width: 65%;
    height: auto;
}

.footer1 #App .conteneur-app{
    display: flex;
    margin-top: 5px;
    width: 250px;
}

#copyright{
    margin: 0;
    font-weight: 500;
    text-align: center;
    font-family: poppins-regular;
    font-size: 14px;
    line-height: 21px;
    color: rgb(94, 98, 130);
}
/* fin footer */