/* initialisation page */
html,
body {
    width: 100%;
    margin: 0;
}

body * {
    box-sizing: border-box;
}
/* fin initialisation page */

/* divers */
.saumon{
    color: #df6951;
}

.majuscule{
    text-transform: uppercase;
}

.gras{
    font-weight: bold;
}
/* fin divers */

/* boutons */
.bouton-carte{
    background-color: orange;
    height: 50px;
    width: 175px;
    border: 2px solid orange;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.bouton-carte a{
    text-decoration: none;
    color: white;
}

button:hover {
    opacity: 0.9;
}
/* fin boutons */

/* Section - global */
section {
    position: relative;
    padding: 100px 8% 100px 8%;
    margin: 0;
}
/* fin Section - global */

/* header */
header{
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.logo{
    display:inline-block;
    margin-left: 8%;
    height: 100%;
    white-space: nowrap;
    width: 70%;
}

.logo img{
    max-height: 100%;
}

.logo img:first-child{
    margin-right: 20px;
}

.logo img:first-child:hover{
    animation: logo-animation 0.5s ease-in;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

header nav{
    margin: 0 8% 0 0;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

.menu-burger, #toggle{
    display: none;
}

header nav .nav-burger a{
    text-decoration: none;
    font-size: 17px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}

header nav .nav-burger a:hover{
    text-decoration: underline;
}
/* fin header */

/* footer */
.footer1{
    background-color: #f3f3f3;
    padding: 70px 8% 20px;
}

.conteneur-pied{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

#logos{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.logo-pied{
    display: block;
    height: auto;
}

#logo-site:hover{
    animation: logo-animation 0.5s ease-in;
}

.logo-pied img[id="nom-site"]{
    height: 50px;
    width: auto;
    margin-left: 10px;
}

#logos p{
    font-size: 18px;
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
}

.milieu-footer{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.footer1 #resto{
    display: inline-block;
    vertical-align: top;
}

.footer1 #RDV{
    display: inline-block;
    vertical-align: top;
}

.footer1 #resto:not(:last-child), .footer1 #RDV:not(:last-child){
    margin: 0 50px 20px 0;
}

.footer1 #resto p:not(:last-child), .footer1 #RDV p:not(:last-child){
    margin: 0 0 10px;
}

.footer1 #resto p, .footer1 #RDV p{
    margin: 0;
}

.footer1 #resto p, .footer1 #RDV p{
    font-family: poppins-bold;
    font-size: 21px;
    line-height: 31px;
    color: black;
}

.footer1 #resto a, .footer1 #RDV a{
    font-size: 18px;
    line-height: 27px;
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
    text-decoration: none;
}

.footer1 #App{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.footer1 #App p{
    font-size: 18px;
    line-height: 27px;
    font-family: poppins-regular;
    color: rgb(94, 98, 130);
    margin-top: 25px;
}

.footer1 #App .img-logo-UE{
    width: 65%;
    height: auto;
}

.footer1 #App .conteneur-app{
    display: inline-block;
    margin-top: 5px;
}

.footer1 #App .conteneur-app .bouton-google, .footer1 #App .conteneur-app .bouton-apple{
    background-color: #000;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
}

.footer1 #App .conteneur-app .bouton-google a, .footer1 #App .conteneur-app .bouton-apple a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.bouton-google img, .bouton-apple img{
    margin: -3px 10px 0 0;
    position: relative;
}

.footer1 #App .p-app{
    color: #f3f3f3;
    font-family: Arial;
    font-size: 10px;
    margin: -2px 0 0 0;
    position: relative;
}

#copyright{
    margin: 0;
    font-weight: 500;
    text-align: center;
    font-family: poppins-regular;
    font-size: 14px;
    line-height: 21px;
    color: rgb(94, 98, 130);
}
/* fin footer */